<a href="https://colab.research.google.com/github/19k41a0507/assignment-2/blob/master/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 Develop code for below scenario
year = int(input("Enter year"))
if year%12==0:
  print("monkey")
elif year%12==1:
    print("rooster")
elif year%12==2:
      print("dog")
elif year%12==3:
      print("pig")
elif year%12==4:
      print("rat")
elif year%12==5:
      print("ox")
elif year%12==6:
      print("tiger")
elif year%12==7:
      print("rabbit")
elif year%12==8:
      print("dragon")
elif year%12==9:
      print("snake")
elif year%12==10:
      print("horse")
else:
    print("sheep")

Enter year5
ox

In [ ]:
# 2.The charge calculated as per rates given below
km=int(input("Distance to be travel: "))
kg=int(input("Weight of the goods: "))
if km>=500:
  if kg>=100 :
    amt=km*5
  elif 10<=kg<100:
    amt=km*6
  else: 
    amt=km*7
else:
   if  kg>=100:
     amt=km*8
   else:
     amt=km*5
print(f'Amount to be charged: {amt}/-')

Distance to be travel: 520
Weight of the goods: 50
Amount to be charged: 3120/-

In [ ]:
#3.mention the ticket rates in theater
seat=input("Types of seats:")
mode=input("Payment mode:")
if seat=="stalls":
    if mode=="cash":
      A=625*90/100
    else:
      A=625*95/100
elif seat=="circle":
    if mode=="cash":
      A=750*90/100
    else:
      A=750*95/100
elif seat=="upperclass":
    if mode=="cash":
      A=850*90/100
    else:
      A=850*95/100
else:
    if mode=="cash":
      A=1000*90/100
    else:
      A=1000*95/100
print(f'Cost of ticket:{A}')

Types of seats:circle
Payment mode:cash
Cost of ticket:675.0

In [ ]:
#4.calculate energy requried
M=float(input('Enter amount of water in kg = '))
initialtemp=float(input('Enter initial temperature of water = '))
finaltemp=float(input('Enter final temperature of water = '))
Q = M * (finaltemp - initialtemp) * 4184
print(f'Energy needed to heat water = {Q} joules')

In [ ]:
#5.Develop a program that prompts user to enter month and print
M=input("Enter month:")
if M == "December"or M=="January"or M=="February":
   print("Winter")
elif M=="March"or M=="April"or M=="May":
   print("Spring")
elif M=="June"or M=="July"or M=="August": 
   print("Summer")     
else: 
   print("Autumn")

Enter month:December
Winter

In [ ]:
#6.computing body mass index
Weight=int(input("Enter weight in pounds:")) 
height=int(input("Enter height in inches:"))
a=float(0.45359237*Weight)
b=float(0.0254*height)
BMI=float(a/b**2)
print(BMI)
if (BMI<18.5):
  print("Under weight")
elif (BMI>18.5 and BMI<25.0):
  print("Normal")
elif (BMI>25.0 and BMI<30.0):
  print("Overweight") 
else:
  print("Obesity")

Enter weight in pounds:50
Enter height in inches:5
1406.1391592783184
Obesity

In [ ]:
#7.caiculate sum between 100 and 1000
integer=int(input("Enter integer between 100 and 1000:" ))
sum=0
while integer>0:
  i=integer%10
  sum=sum+i
  integer=int(integer/10)
print(sum)

Enter integer between 100 and 1000:750
12

In [ ]:
#8.print all palindrome numbers between 1 to 1000
for x in range(1,1001):
  sum=0
  temp=x
  while x>0:
       r=x%10
       sum=sum*10+r
       x=x//10
  if temp==sum:
       print(temp,end=" ")

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [ ]:
#9.print all armstrong numbers between 1 to 1000
for x in range(1,1001):
    sum=0
    temp=x
    while x>0:
      n=x%10
      sum+=n*n*n
      x=x//10
    if sum==temp:
      print(temp)

1
153
370
371
407

In [ ]:
#10.multiple of 3 print fizz,multiple of 5 print buzz,for both print fizz buzz
for i in range(1,101):
    if i%3==0 and i%5==0:
       print("fizz buzz")
    elif i % 3==0:
       print("Fizz") 
    elif i % 5==0:
       print("Buzz")
    else:
       print(i,end=" ")

1 2 Fizz
4 Buzz
Fizz
7 8 Fizz
Buzz
11 Fizz
13 14 fizz buzz
16 17 Fizz
19 Buzz
Fizz
22 23 Fizz
Buzz
26 Fizz
28 29 fizz buzz
31 32 Fizz
34 Buzz
Fizz
37 38 Fizz
Buzz
41 Fizz
43 44 fizz buzz
46 47 Fizz
49 Buzz
Fizz
52 53 Fizz
Buzz
56 Fizz
58 59 fizz buzz
61 62 Fizz
64 Buzz
Fizz
67 68 Fizz
Buzz
71 Fizz
73 74 fizz buzz
76 77 Fizz
79 Buzz
Fizz
82 83 Fizz
Buzz
86 Fizz
88 89 fizz buzz
91 92 Fizz
94 Buzz
Fizz
97 98 Fizz
Buzz

In [ ]:
#11.number of steps requried
H=int(input("Enter the height of well:"))
U=int(input("Enter steps  climbed up in meters:"))
D=int(input("Enter slips down:"))
N=((H-U)+(U-D))//(U-D)
print(N+1)

Enter the height of well:200
Enter steps  climbed up in meters:50
Enter slips down:1
5